/* General Styles */
body {
    font-family: 'Nunito', sans-serif;
    margin: 0;
    display: flex;
}

/* Content Styles */
.content {
    flex: 1;
    padding: 20px;
    background-color: #f8f9fa;
}

/* Form Container */
.form-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 100%; /* Set a max-width for the form */
    margin: auto; /* Center the form horizontally */
}

/* Form Header */
.form-container h2 {
    margin-bottom: 20px;
    text-align: center; /* Center the title */
}

/* Form Styles */
form {
    display: flex;
    flex-direction: column;
}

/* Label Styles */
label {
    margin-bottom: 5px;
    font-weight: bold;
}

/* Input, Select, Textarea Styles */
input, select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    font-size: 14px;
    transition: border-color 0.3s; /* Add transition for border color on focus */
}

/* Focus Styles */
input:focus, select:focus, textarea:focus {
    border-color: #007bff; /* Change border color on focus */
    outline: none; /* Remove outline */
}

/* Button Styles */
button {
    background-color: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s; /* Add transition for button hover */
}

button:hover {
    background-color: #0056b3; /* Darker blue on hover */
}
